<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-IPC</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /* 确保下拉菜单可见 */
        .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
            display: block;
        }

    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    {% if g.authority == '3' or g.authority == '2' %}
                        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除
                        </button>
                    {% endif %}
                    <button class="layui-btn" onclick="xadmin.open('新增参数','/pda_add',600,490)"><i
                            class="layui-icon"></i>新增PDA
                    </button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 0px;">
                                <input type="checkbox" id="checkall" name="" lay-skin="primary">
                            </th>
                            <th>PDA_IP</th>
                            <th>机台PM</th>
                            <th>使用人</th>
                            <th>DCN服务IP</th>
                            <th>DCN服务名称</th>
                            <th>PDA_SN</th>
                            <th>PDA_MAC地址</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in pda_infos %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="id" value="{{ value['PDA_ID'] }}" lay-skin="primary">
                                </td>
                                <td>{{ value['PDA_IP'] }}</td>
                                <td>{% if value['MACHINE_PM'] is not none %}{{ value['MACHINE_PM'] }}{% else %}
                                    {{ '' }}{% endif %}</td>
                                <td>{{ value['PDA_USE_EMP'] }}</td>
                                <td>{{ value['DCN_SERVER_IP'] }}</td>
                                <td>{{ value['DCN_SERVER_NAME'] }}</td>
                                <td>{{ value['PDA_SN'] }}</td>
                                <td>{{ value['PDA_MAC'] }}</td>
                                <td>{{ value['DESC'] }}</td>
                                <td class="td-manage">
                                    <a title="编辑" onclick="openEditModal(this, '{{ value['PDA_ID'] }}')"
                                       href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                    {% if g.authority == '3' or g.authority == '2' %}
                                        <a title="删除" onclick="pda_del(this,'{{ value['PDA_ID'] }}')"
                                           href="javascript:;">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var server_url = "{{ server_url }}";
    document.getElementById('checkall').addEventListener('change', function () {
        var checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });

    function delAll() {
        var ids = [];
        // 获取选中的id，避免重复遍历
        $('tbody input:checked').each(function () {
            ids.push($(this).val());
        });
        console.log(ids);
        if (ids.length === 0) {
            layer.msg('请至少选择一项', {icon: 2});
            return;
        }
        del_api(ids);
    }

    /*参数-删除*/
    function pda_del(obj, ids) {
        // 提示确认删除操作
        layer.confirm('确认要删除吗？' + ids, {icon: 3}, function (index) {
            // 禁用按钮，避免重复点击
            $(obj).prop('disabled', true);

            // 发异步请求删除数据
            $.ajax({
                url: server_url + '/del_pda_info',  // 参数删除接口
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify([ids]),  // 传递要删除的对象标识符
                success: function (response) {
                    // 如果删除成功
                    if (response.message) {
                        // 删除行
                        $(obj).parents("tr").remove();
                        layer.msg(response.message, {icon: 1, time: 1000});
                    } else {
                        // 如果删除失败，提示错误信息
                        layer.msg(response.message, {icon: 2});
                    }
                },
                error: function (xhr, status, error) {
                    // 处理请求失败
                    layer.msg('删除失败，请稍后再试', {icon: 2});
                },
                complete: function () {
                    // 请求完成后重新启用按钮
                    $(obj).prop('disabled', false);
                }
            });

            // 关闭确认框
            layer.close(index);
        });
    }

    function del_api(ids) {
        // 提示机台确认删除
        layer.confirm('确认要删除吗？' + ids.join(', '), {icon: 3}, function (index) {
            // 禁用确认按钮，避免重复点击
            layer.close(index);
            layer.load(1);  // 显示加载层
            console.log(server_url + '/del_pda_info')
            // 发送删除请求
            $.ajax({
                url: server_url + '/del_pda_info', // 后端接口
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(ids), // 转换为 JSON 格式
                success: function (response) {
                    // 请求成功处理
                    if (response.message) {
                        layer.msg(response.message, {icon: 1});
                        // 删除选中的行
                        $("tbody input:checked").each(function () {
                            $(this).closest('tr').remove();
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 请求失败处理
                    var errorMessage = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : "删除失败";
                    layer.msg(errorMessage, {icon: 2});
                },
                complete: function () {
                    // 请求完成后，隐藏加载层
                    layer.closeAll('loading');
                }
            });
        });
    }


    function openEditModal(editButton, pda_id) {
        // 获取当前行
        var row = editButton.closest('tr');

        // 获取当前行的各列数据
        var pda_ip = row.cells[1].innerText;
        var machine_pm = row.cells[2].innerText;
        var pda_use_emp = row.cells[3].innerText;
        var dcn_server_ip = row.cells[4].innerText;
        var dcn_server_name = row.cells[5].innerText;
        var pda_sn = row.cells[6].innerText;
        var pda_mac = row.cells[7].innerText;
        var desc = row.cells[8].innerText;

        // 创建查询字符串，传递需要的数据
        var url = '/pda_edit?pda_id=' + encodeURIComponent(pda_id) +
            '&pda_ip=' + encodeURIComponent(pda_ip) +
            '&machine_pm=' + encodeURIComponent(machine_pm) +
            '&pda_use_emp=' + encodeURIComponent(pda_use_emp) +
            '&dcn_server_ip=' + encodeURIComponent(dcn_server_ip) +
            '&dcn_server_name=' + encodeURIComponent(dcn_server_name) +
            '&pda_sn=' + encodeURIComponent(pda_sn) +
            '&pda_mac=' + encodeURIComponent(pda_mac) +
            '&desc=' + encodeURIComponent(desc);
        console.log(url)
        // 打开编辑页面并传递数据
        xadmin.open('编辑', url, 600, 500);
    }

</script>
</html>
