<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="pda_ip" class="layui-form-label">PDA_IP</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pda_ip" name="pda_ip" value="{{ pda_ip }}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="pda_use_emp" class="layui-form-label">使用人</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pda_use_emp" name="pda_use_emp" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                        <div class="layui-form-item">
                            <label for="dcn_server_ip" class="layui-form-label">DCN服务IP</label>
                            <div class="layui-input-inline">
                                <input type="text" id="dcn_server_ip" name="dcn_server_ip" autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-form-item">
                            <label for="dcn_server_name" class="layui-form-label">DCN服务名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="dcn_server_name" name="dcn_server_name" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-item">
                            <label for="pda_sn" class="layui-form-label">PDA_SN</label>
                            <div class="layui-input-inline">
                                <input type="text" id="pda_sn" name="pda_sn" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="pda_mac" class="layui-form-label">MAC地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="pda_mac" name="pda_mac"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="desc" class="layui-form-label">描述</label>
                            <div class="layui-input-inline">
                                <input type="text" id="desc" name="desc" autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_repass" class="layui-form-label"></label>
                            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                    </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer', 'jquery'], function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                      // Flask 渲染后传递的变量
                var server_url = "{{ server_url }}";
                // 监听表单提交事件
                form.on('submit(add)', function(data) {
                    // 打印提交的表单数据
                    data.field.machine_pm = ''
                    console.log('提交的表单数据:', data.field);
                    // 发起Ajax请求，提交表单数据到后端
                    $.ajax({
                        url: server_url+'/add_pda_info',  // 请求的后端URL
                        type: 'POST',  // 请求方式
                        contentType: 'application/json',  // 设置请求内容类型
                        dataType: 'json',  // 预期的服务器响应数据类型
                        data: JSON.stringify(data.field),  // 将表单数据转为JSON字符串发送
                        success: function(response) {
                            // 请求成功时的回调
                            if (response.message) {
                                layer.alert("增加成功", {
                                    icon: 6  // 成功图标
                                }, function() {
                                    xadmin.close();  // 关闭当前iframe窗口
                                    xadmin.father_reload();  // 刷新父窗口
                                });
                            } else if (response.error) {
                                // 如果后端返回了错误信息
                                layer.alert(response.error, {
                                    icon: 5  // 错误图标
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                            // 请求失败时的回调
                            layer.alert("请求失败，请稍后重试", {
                                icon: 5  // 错误图标
                            });
                        }
                    });
            
                    return false;  // 阻止表单默认提交
                });
            });
            </script>
    </body>

</html>